{% macro input(question, is_new_answer) -%}
    <h2 class="h2-style">
        Answers
        <div class="form_inline">
            {% if not is_new_answer %}
                <a href="/question/{{ question.id }}/new-answer">
                    <button type="button" class="btn btn-sm btn-info my-button">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </a>
            {% else %}
                <a href="/question/{{ question.id }}">
                    <button type="button" class="btn btn-sm btn-info my-button">
                        <i class="fas fa-minus-square"></i>
                    </button>
                </a>
            {% endif %}
        </div>
    </h2>
{%- endmacro %}