{% macro input(question, is_new_comment, comments_for_question, moment) -%}
    <div id="comments-title">
                Comments
                <div class="form_inline">
                {% if not is_new_comment %}
                    <a href="/question/{{ question.id }}/new-comment">
                        <button type="button" class="btn btn-sm btn-info my-button">
                                <i class="fas fa-plus-square"></i>
                        </button>
                    </a>
                {% else %}
                    <a href="/question/{{ question.id }}">
                        <button type="button" class="btn btn-sm btn-info my-button">
                                <i class="fas fa-minus-square"></i>
                        </button>
                    </a>
                {% endif %}
                </div>
            </div>
            <div style="display: {{ 'none;' if not is_new_comment else 'true;' }}">
                <div id="add-comment-text">
                    <form action="/question/{{ question.id }}/new-comment" method="POST">
                        <div class="row align-items-center">
                            <div class="col-10">
                                 <textarea id='message' name='message' class="form-control" rows="3"
                                           placeholder="Type here your comment!" required></textarea>
                            </div>
                            <div class="col-2" id='add-comment-buttom'>
                                <button type='submit' class="btn btn-success"><strong>Send me!</strong></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div id="comment">
                {% for comment in comments_for_question %}
                    <a name={{comment.id}}></a>
                    <div style="display: {{ 'none;' if comment_to_edit|string != comment.id|string else 'true;' }}">
                        <div class="card-body my-answer-body">
                              <form action="/comments/{{ comment.id }}/edit#{{ comment.id }}" method="POST">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                         <textarea id='message'  name='message' class="form-control" rows="3"
                                                   placeholder="Type here your answer!" required>{{ comment.message }}</textarea>
                                    </div>
                                    <div class="col-1">
                                        <button type='submit' class="btn btn-success"><strong>Send me!</strong></button>
                                    </div>
                                </div>
                              </form>
                        </div>
                    </div>
                    <br>
                    <div style="display: {{ 'none;' if comment_to_edit|string == comment.id|string else 'true;' }}">
                        <div class="card-body my-answer-body">
                            <p class="no-margin">{{ moment(comment.submission_time).format('LLL') }}</p>
                            <p class="no-margin">
                                {{ comment.message }}
                            </p>
                            <p class="no-margin">
                                Edited {{ comment.edited_count }} time
                                <a href="/comments/{{ comment.id }}/edit#{{ comment.id }}">
                                    <button type="button" class="btn btn-primary btn-sm my-button">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
{%- endmacro %}