{% macro input(question, moment) -%}
            <div class="not-important">
            #{{ question.id }}
            </div>
            <p>{{ moment(question.submission_time).format('LLL') }}</p>
            <p>
                <table>
                    <td><img src="{{ question.image if question.image else 'https://via.placeholder.com/150'}}" height="150px"/></td>
                    <td>{{ question.message }}</td>
                </table>
                <h4>
                    {{ question.view_number }}<i class="fas fa-eye"></i>&nbsp;&nbsp;&nbsp;
                    <form action='{{ "/question/" + question.id|string + "/vote-up"}}' class='form_inline' method="POST" >
                        <button type="submit" class="button_up">
                            <i class="fas fa-arrow-circle-up"></i>
                        </button>
                    </form>
                    {{ question.vote_number }}
                    <form action='{{ "/question/" + question.id|string + "/vote-down"}}' class='form_inline' method="POST" >
                        <button type="submit" class="button_down">
                            <i class="fas fa-arrow-circle-down"></i>
                        </button>
                    </form>
                </h4>
            </p>
{%- endmacro %}