body{
    background-image: url("cate.jpg");
}

h1{
    color: white;
    padding-left: 42px;
    background-color: #4e6ea0;
}

#more-questions {
    background-color: #4e6ea0;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

#more-questions:hover {
    background-color: #4e6ea0;
    color: white;
    border-radius: 10px;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-duration: 0.5s;
    animation-direction: alternate;
    margin: 0;
}

@keyframes sizeup {
    100% {size: 120%}
}

@keyframes shake {
    0% {margin: 0}
    25% {margin-left: 15px}
    50% {margin: 0}
    75% {margin-right: 15px}
    100% {
        margin: 0;
        margin-top: -5px;
        padding: 10px;
        font-size: 1.2em;
        }
}

#add-comment-buttom {
    margin-left: -15px;
}

#add-comment-text {
    margin-left: 220px;
    margin-top: 10px;
}

#comments-title {
    color: white;
    padding-left: 24px;
    background-color: #4e6ea0;
    border-radius: 10px;
    margin-left: 200px;
  }

#comment {
    margin-left: 200px;
}

.no-margin {
    margin: 0
}

.h2-style{
    color: white;
    padding-left: 42px;
    background-color: #4e6ea0;
    border-radius: 10px;
}

.my-colors{
    background-color: #4e6ea0;
    color: white;
}

.my-table{
    margin-left: 1px;
}

.my-button{
    margin: 5px;
}

.round_button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 50px 80px 50px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.not-important {
    color: grey;
    font-size: small;
}


.form_inline {
    display: inline-block;
}


.button_up {
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    border: none;
    color: green;
}

.button_down {
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    border: none;
    color: red;
}

.my-question-body {
    background-image: linear-gradient(to right, #6da0f2 , #ca6df2);
    width: 80%;
}

.my-answer-body {
    background-image: linear-gradient(to right, #ca6df2, #6da0f2);
}

.extra-pad{
    padding-left: 150px;
}