body{
    background-image: url("cate.jpg");
}

h1{
    color: white;
    padding-left: 42px;
    background-color: #4e6ea0;
}

.my-colors{
    background-color: #4e6ea0;
    color: white;
}

.my-table{
    margin-left: 1px;
}

.my-button{
    margin: 5px;
}

.round_button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 50px 80px 50px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.not-important {
    color: grey;
    font-size: small;
}


.form_inline {
    display: inline-block;
}


.button_up {
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    border: none;
    color: green;
}

.button_down {
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    border: none;
    color: red;
}