body{
    background-image: url("cate2.jpg");
    opacity: 0.97;
}

h1{
    padding-top: 6px;
    color: white;
    padding-left: 42px;
    background-color: #4e6ea0;
    padding-bottom: 6px;
}

#more-questions {
    background-color: #4e6ea0;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

#more-questions:hover {
    background-color: #4e6ea0;
    color: white;
    border-radius: 10px;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-duration: 0.5s;
    animation-direction: alternate;
    margin: 0;
}

@keyframes sizeup {
    100% {size: 120%}
}

@keyframes shake {
    0% {margin: 0}
    25% {margin-left: 15px}
    50% {margin: 0}
    75% {margin-right: 15px}
    100% {
        margin: 0;
        margin-top: -5px;
        padding: 10px;
        font-size: 1.2em;
        }
}

#running-cat {
    /* background-color: rgba(255,255,255,0.1); */
    /* background-image: linear-gradient(to right, rgba(78, 110, 160,1), rgba(255,255,255,0.2), rgba(78, 110, 160,1)); */
    position:absolute;
    color: white;
    height: 100px;
    margin-top: -25px;
    margin-bottom: -10px;
    margin-left: -150px;
    animation-name: run;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes run {
    100% {margin-left: 85%}
}

#add-comment-buttom {
    margin-left: -15px;
}

#add-comment-text {
    margin-left: 220px;
    margin-top: 10px;
}

#comments-title {
    color: white;
    padding-left: 24px;
    background-color: #4e6ea0;
    border-radius: 10px;
    margin-left: 200px;
  }

.row {
    margin: 0;
}

#comment {
    margin-left: 200px;
}

.no-margin {
    margin: 0
}

.h2-style{
    color: white;
    padding-left: 42px;
    background-color: #4e6ea0;
    border-radius: 10px;
}

.my-colors{
    background-color: #4e6ea0;
    color: white;
}

.my-table{
    margin-left: 1px;
}

.my-button{
    color: white;
    margin: 5px;
}

.my-button:hover {
    color: white;
}

.round_button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 50px 80px 50px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.not-important {
    color: grey;
    font-size: small;
}


.form_inline {
    display: inline-block;
}

.button_up {
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    border: none;
    color: green;
}

.button_down {
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    border: none;
    color: red;
}

.my-question-body {
    background-image: linear-gradient(to right, #6da0f2 , #ca6df2);
    width: 80%;
}

.my-answer-body {
    background-color: rgba(202, 109, 242, 0.9);
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.extra-pad{
    padding-left: 150px;
}

.search-bar {
    text-align: right;
    padding-right: 42px;
    font-size: 20px;
}

.not-link-appearance:any-link {
    color: white;
    text-decoration: none;
}

.medium-font-size {
    font-size: large;
}

.chip {
    display: inline-block;
    padding: 0 25px 25px 25px;
    height: 40px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    background-color:green;
}

.chip2 {
    background-color:red;
}
.show-modal {
    display: true;
}
#username_input, #password_input, #submit_user_data {
    display: block;
    margin: 2% auto;
}
.centralize {
    background: rgba(135, 175, 229, 0.5);
    padding: 1%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.toolbar {
    background-color: #4e6ea0;
    /*opacity: 0.85*/
}
.subtitle {
    background-color: white;
    color: #4e6ea0;
    width: 100%;
    text-align: center;
    /*opacity: 0.85*/
}
.user-activity {
    padding: 5%;
 }
