{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <p>
            <table>
                <tr>
                    <td>
                        {% if session %}
                            <a href="/add-question"><button type="button" class="btn btn-secondary">Ask a question</button></a>
                        {% endif %}
                    </td>
                    <td style="width: 100%" align="right">
                        <form action="{{ url_for("show_list") }}" method="GET">
                            <select name="first_attribute">
                                <option value="{{ first_ordering_attribute }}" hidden>{{ first_ordering_attribute|capitalize|replace('_', ' ') }}</option>
                                <option value="submission_time-DESC" {{ '' if first_ordering_attribute else 'selected="selected"'}}>Submission time-desc</option>
                                <option value="submission_time-ASC">Submission time-asc</option>
                                <option value="view_number-DESC">View number-desc</option>
                                <option value="view_number-ASC">View number-asc</option>
                                <option value="vote_number-DESC">Vote number-desc</option>
                                <option value="vote_number-ASC">Vote number-asc</option>
                                <option value="title-DESC">Title-desc</option>
                                <option value="title-ASC">Title-asc</option>
                            </select>
                            <select name="second_attribute">
                                <option value="{{ second_ordering_attribute }}" hidden>{{ second_ordering_attribute|capitalize|replace('_', ' ') }}</option>
                                <option value="submission_time-DESC">Submission time-desc</option>
                                <option value="submission_time-ASC">Submission time-asc</option>
                                <option value="view_number-DESC" {{ '' if second_ordering_attribute else 'selected="selected"'}}>View number-desc</option>
                                <option value="view_number-ASC">View number-asc</option>
                                <option value="vote_number-DESC">Vote number-desc</option>
                                <option value="vote_number-ASC">Vote number-asc</option>
                                <option value="title-DESC">Title-desc</option>
                                <option value="title-ASC">Title-asc</option>
                            </select>
                            <button type="submit" class="btn btn-secondary">Order</button>
                        </form>
                    </td>
                </tr>
            </table>
        </p>
        <table class="table table-hover my-colors">
            <thead>
                <th></th>
                <th>Question</th>
                <th>Submission Time</th>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td class="row justify-content-center my-table">
                            <a href="/question/{{ question.id }}">
                                <button type="button" class="btn btn-warning btn-sm my-button">
                                    <i class="fas fa-envelope-open-text"></i>
                                </button>
                            </a>
                            {% if session and session.user_id == question.user_id %}
                                <a href="/question/{{ question.id }}/edit">
                                    <button type="button" class="btn btn-primary btn-sm my-button">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                                <a href="/question/{{ question.id }}/delete">
                                    <button type="button" class="btn btn-danger btn-sm my-button">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ question.title }}</td>
                        <td>{{ moment(question.submission_time).format('LLL') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div align="center" {{ 'hidden' if not is_index_page else '' }}><a href="/list"><button id="more-questions">More questions</button></a></div>
    </div>
{% endblock %}
