<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>
<body>
    <img src="/static/running_cat.gif" id="running-cat">
    <h1>
        <div class="row header">
            <div class="col-4">
                AskMate by CAT
            </div>
            <div class="col-8 search-bar">
                <form action="{{ url_for("search") }}" method="GET">
                    <input name="q" type="text" placeholder="Search...">
                    <button type="submit" class="btn btn-info my-button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </h1>
    <div class="container">
        <p><a href="/add-question"><button type="button" class="btn btn-secondary">Ask a question</button></a></p>
        <table class="table table-hover my-colors">
            <thead>
                <th></th>
                <!--th>ID</th-->
                <th>Question</th>
                <th>Submission Time</th>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td class="row justify-content-center my-table">
                            <a href="/question/{{ question.id }}">
                                <button type="button" class="btn btn-success btn-sm my-button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </a>
                            <a href="/question/{{ question.id }}/edit">
                                <button type="button" class="btn btn-primary btn-sm my-button">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </a>
                            <a href="/question/{{ question.id }}/delete">
                                <button type="button" class="btn btn-danger btn-sm my-button">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </a>
                        </td>
                        <!--td>{{ question.id }}</td-->
                        <td>{{ question.title }}</td>
                        <td>{{ moment(question.submission_time).format('YYYY.MM.DD. HH:MM') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div align="center" {{ 'hidden' if not is_index_page else '' }}><a href="/list"><button id="more-questions">More questions</button></a></div>
    </div>
</body>
</html>