{% extends 'layout.html' %}

{% import 'macros/questions.html' as question_body %}
{% import 'macros/question_comments.html' as question_comments %}
{% import "macros/answers.html" as answer_body %}
{% import "macros/answers_comments.html" as answers_comments %}
{% import "macros/edit_answer.html" as edit_answer %}
{% import "macros/add_answer.html" as add_answer %}
{% import "macros/answers_head.html" as answers_head %}
{% import "macros/comments_head.html" as comments_head %}
{% import "macros/add_comment_to_question.html" as add_comment_to_question %}
{% import "macros/edit_question_comment.html" as edit_question_comment %}
{% import "macros/add_comment_to_answer.html" as add_comment_to_answer %}
{% import "macros/edit_answer_comment.html" as edit_answer_comment %}
{% import "macros/question_tags.html" as question_tags %}
{% import "macros/edit_question_tags.html" as edit_question_tags %}

{% block content %}
    <h3 class="subtitle">{{ question.title }}
        {% if session and session.user_id == question.user_id %}
            <a href="/question/{{ question.id }}/edit">
                <button type="button" class="btn btn-primary btn-sm my-button">
                    <i class="fas fa-edit"></i>
                </button>
            </a>
            <a href="/question/{{ question.id }}/delete">
                <button type="button" class="btn btn-danger btn-sm my-button">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </a>
        {% endif %}
    </h3>
    <div class="container">
        <div class="card-body my-question-body">
            {{ question_body.input(question, moment, tags_for_question) }}
            <div id="comments-title">
                {{ comments_head.input(question, is_new_comment) }}
            </div>
            <div style="display: {{ 'none;' if not is_new_comment else 'true;' }}">
                <div id="add-comment-text">
                    {{ add_comment_to_question.input(question) }}
                </div>
            </div>
            <br>
            <div id="comment">
                {% for comment in comments_for_question %}
                    <a name={{comment.id}}></a>
                    <div style="display: {{ 'none;' if comment_to_edit|string != comment.id|string else 'true;' }}">
                        <div class="card-body my-answer-body">
                              {{ edit_question_comment.input(comment) }}
                        </div>
                    </div>
                    <br>
                    <div style="display: {{ 'none;' if comment_to_edit|string == comment.id|string else 'true;' }}">
                        <div class="card-body my-answer-body">
                            {{ question_comments.input(comment, moment) }}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="extra-pad">
            {{ answers_head.input(question, is_new_answer) }}
            <div style="display: {{ 'none;' if not is_new_answer else 'true;' }}">
                <div class="card-body">
                    {{ add_answer.input(question) }}
                </div>
            </div>
            <br>
            {% for answer in answers_for_question %}
                <a name={{answer.id}}></a>
                <div style="display: {{ 'none;' if answer_to_edit|string != answer.id|string else 'true;' }}" class="card-body">
                    {{ edit_answer.input(answer, answer_to_edit) }}
                </div>
                <br>
                <div style="display: {{ 'none;' if answer_to_edit|string == answer.id|string else 'true;' }}">
                    <div class="card-body my-answer-body
                                {{ 'highlight-accepted-answer' if question.accepted_answer_id == answer.id}}">
                        {% if not question.accepted_answer_id %}
                            <a href='/question/{{ question.id }}/accept-answer/{{ answer.id }}' class="not-link-appearance">
                                <div class="accept-answer-button"
                                     {{ "" if (session['user_id'] == question.user_id) else "hidden"}}>
                                    Accept answer
                                </div>
                            </a>
                        {% endif %}
                        {{ answer_body.input(answer, answer_to_comment, moment, question) }}
                        <div style="display: {{ 'none;' if not answer.id|string == answer_to_comment|string else 'true;' }}">
                            <div id="add-comment-text">
                                {{ add_comment_to_answer.input(answer) }}
                            </div>
                        </div>
                        <br>
                        <div id="comment">
                            {% for comment in comments_for_answers[answer.id|string] %}
                                <a name={{comment.id}}></a>
                                <div style="display: {{ 'none;' if comment_to_edit|string != comment.id|string else 'true;' }}">
                                    <div class="card-body my-answer-body">
                                        {{ edit_answer_comment.input(comment) }}
                                    </div>
                                </div>
                                <br>
                                <div style="display: {{ 'none;' if comment_to_edit|string == comment.id|string else 'true;' }}">
                                    <div class="card-body my-answer-body">
                                        {{ answers_comments.input(comment, moment) }}
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}